.navbar a {
    color: var(--italy-white-color);
}

.navbar a:hover {
    color: var(--italy-white-color);
    text-decoration: none;
}

.navbarBar a:hover {
    color: var(--italy-green-color);
    border-bottom: 2px dashed var(--italy-green-color);
}

.navbar {
    background-color: transparent!important;
    top: 10px;
    border-bottom: 0px!important;
    width: 90%;
    border-radius: 50px;
    margin: auto;
}

/*.navbar-toggler {
    margin: auto;
}*/

@media only screen and (min-width: 991px) {
    .show {
        background-color: blue;
    }
  }